<nav class="mobile-nav">
  <div class="mobile-nav-content us-none">
    <a class="desktop-logo-container" href="./dashboard.html">
      <img src="./assets/icons/favicon-light.svg" alt="join logo">
    </a>

    <div class="nav-btn-container">
      <div class="nav-btn">
        <input class="d-none" type="checkbox" name="nav-checkbox">
        <a class="nav-content" href="./dashboard.html" data-sidebar-tab="dashboard">
          <img
            class="btn-icon"
            src="./assets/icons/menu-summary.svg"
            alt="summary"
          />
          Dashboard
        </a>
      </div>
    
      <div class="nav-btn">
        <input class="d-none" type="checkbox" name="nav-checkbox">
        <a class="nav-content" href="./board.html" data-sidebar-tab="board">
          <img
            class="btn-icon"
            src="./assets/icons/menu-board.svg"
            alt="kanban board"
          />
          Board
        </a>
      </div>
    
      <div class="nav-btn">
        <input class="d-none" type="checkbox" name="nav-checkbox">
        <a class="nav-content" href="./add-task.html" data-sidebar-tab="add-task">
          <img
            class="btn-icon"
            src="./assets/icons/menu-add-task.svg"
            alt="add Task"
          />
          Add Task
        </a>
      </div>
    
      <div class="nav-btn">
        <input class="d-none" type="checkbox" name="nav-checkbox">
        <a class="nav-content" href="./contacts.html" data-sidebar-tab="contacts">
          <img
            class="btn-icon"
            src="./assets/icons/menu-contacts.svg"
            alt="contacts"
          />
          Contacts
        </a>
      </div>
    </div>

    <div class="footer-container">
      <a class="footer-links" href="./privacy-policy.html">Privacy Policy</a>
      <a class="footer-links" href="./legal-notice.html">Legal notice</a>
    </div>
  </div>
</nav>